Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55063/Service_DailyDeli.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55063/Service_DailyDeli.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55063/Service_DailyDeli.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DailyDeli_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_DailyDeli_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_GetUsertype_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsertype" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_GetUsertype_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsertypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_FilterProductsByDiet_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterProductsByDiet" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_FilterProductsByDiet_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterProductsByDietResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IService_DailyDeli_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_DailyDeli">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_DailyDeli/Register" message="tns:IService_DailyDeli_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_DailyDeli/RegisterResponse" message="tns:IService_DailyDeli_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_DailyDeli/Login" message="tns:IService_DailyDeli_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_DailyDeli/LoginResponse" message="tns:IService_DailyDeli_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsertype">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_DailyDeli/GetUsertype" message="tns:IService_DailyDeli_GetUsertype_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_DailyDeli/GetUsertypeResponse" message="tns:IService_DailyDeli_GetUsertype_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_DailyDeli/CheckUser" message="tns:IService_DailyDeli_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_DailyDeli/CheckUserResponse" message="tns:IService_DailyDeli_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_DailyDeli/ResetPassword" message="tns:IService_DailyDeli_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_DailyDeli/ResetPasswordResponse" message="tns:IService_DailyDeli_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterProductsByDiet">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_DailyDeli/FilterProductsByDiet" message="tns:IService_DailyDeli_FilterProductsByDiet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_DailyDeli/FilterProductsByDietResponse" message="tns:IService_DailyDeli_FilterProductsByDiet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_DailyDeli/GetProduct" message="tns:IService_DailyDeli_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_DailyDeli/GetProductResponse" message="tns:IService_DailyDeli_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_DailyDeli/AddProduct" message="tns:IService_DailyDeli_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_DailyDeli/AddProductResponse" message="tns:IService_DailyDeli_AddProduct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_DailyDeli" type="tns:IService_DailyDeli">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService_DailyDeli/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService_DailyDeli/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsertype">
      <soap:operation soapAction="http://tempuri.org/IService_DailyDeli/GetUsertype" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/IService_DailyDeli/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IService_DailyDeli/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterProductsByDiet">
      <soap:operation soapAction="http://tempuri.org/IService_DailyDeli/FilterProductsByDiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IService_DailyDeli/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IService_DailyDeli/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService_DailyDeli" binding="tns:BasicHttpBinding_IService_DailyDeli">
      <soap:address location="http://localhost:55063/Service_DailyDeli.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>